.App {
  display: flex;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--color3);
  height: var(--header-height);
  box-shadow: var(--shadow);
}
.header-left {
  display: flex;
}
.header-right {
  display: flex;
  align-content: center;
  align-items: center;
}
.deli {
  font-family: "Pacifico", cursive;
  font-size: 32px;
  margin: 0px;
  padding: 0px;
  line-height: 10px;
}
.logoR {
  display: flex;
  padding-right: 10px;
}
.logoR img {
  padding-top: 10px;
  height: 32px;
}
.logo {
  padding-right: 10px;
}
.logo img {
  padding-top: 10px;
  height: 32px;
}
.td-1 {
  display: flex;
  align-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 15px;
}
.logoo {
  height: 64px;
  padding-top: 10px;
  padding-left: 10px;
}